@model BlogLab.Models.BlogPost

@{
    ViewBag.Title = "Delete Post";
}


    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>

        <div id="content">
            <h3 class="currentposttitle col-md-6 col-md-offset-1">@Model.Title</h3>
            <h6 class="currentpostauthor col-md-6 col-md-offset-1">@Model.Author</h6>
            <h6 class="currentpostdate col-md-6 col-md-offset-1">@Model.CreateDate</h6>
            <img class="currentpostimg col-md-6 col-md-offset-1" src=@Model.ImageLink />
            @if (Model.Body.Length <= 300)
            {
                <div class="currentpostcontent col-md-6 col-md-offset-1">@Model.Body</div>
            }
            else
            {
                <div class="currentpostcontent col-md-6 col-md-offset-1">@Model.Body.Substring(0, 300)<span>...</span></div>
            }

        </div>
        <hr style="clear:both" />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>

