@model BlogLab.Models.BlogPost

@{
    ViewBag.Title = @Model.Title;
}
<div class="row">
    <div class="col-md-3 col-md-offset-1">
        @if (ViewBag.PrevPost != null)
        {
            @Html.ActionLink("Previous Post", "Details", new { id = ViewBag.PrevPost }, new { @class = "btn btn-default" });
        }
    </div>
    <div class="col-md-2 col-md-offset-6 ">
        @if (ViewBag.NextPost != null)
        {
            @Html.ActionLink("Next Post", "Details", new { id = ViewBag.NextPost }, new { @class = "btn btn-primary btn-sm" });
        }

    </div>
</div>


<div id="content" class="row">
    <div class="col-md-6 col-md-offset-1">
        <h3>@Model.Title</h3>
        <h6>@Model.Author</h6>
        <h6>@Model.CreateDate</h6>
        <div>@Model.Body</div>
    </div>
    <div class="col-md-4">
        <img class="img-responsive img-thumbnail" src=@Model.ImageLink />
    </div>
</div>
<hr style="clear:both" />


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Home", "Index")
</p>
