@model BlogLab.Models.BlogPost

@{
    ViewBag.Title = @Model.Title;
}

<div id="content">
    <h3 class="currentposttitle col-md-6 col-md-offset-1">@Model.Title</h3>
    <h6 class="currentpostauthor col-md-6 col-md-offset-1">@Model.Author</h6>
    <h6 class="currentpostdate col-md-6 col-md-offset-1">@Model.CreateDate</h6>
    <img class="currentpostimg col-md-6 col-md-offset-1" src=@Model.ImageLink />
    <div class="currentpostcontent col-md-6 col-md-offset-1">@Model.Body</div>

</div>
<hr style="clear:both" />

<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
