@model IEnumerable<BlogLab.Models.BlogPost>

@{
    ViewBag.Title = "Surf and Paddle Blog";
    var firstPost = Model.First();
}


<div id="content" class="row">
    <div class="col-md-6 col-md-offset-1">

        <h3>@firstPost.Title</h3>
        <h6>@firstPost.Author</h6>
        <h6>@firstPost.CreateDate</h6>
        <div>@firstPost.Body</div>
        @Html.ActionLink("Read More", "Details", new { id = firstPost.Id })
    </div>
    <div class="col-md-4"> <img class="img-responsive" src=@firstPost.ImageLink /></div>



</div>
<hr style="clear: both" />
<p>
    @Html.ActionLink("Create New Post", "Create", null, new { @class = "btn btn-default" })
</p>
<div id="nextposts" class="col-sm-12">Check out these other posts</div>

<div class="container-fluid" id="blog">
    @foreach (var item in Model)
    {
        if (item != Model.First())
        {
            string link = $"/BlogPosts/Details/{item.Id}";
            // string link2 = Html.ur
            <div class="blogimg col-md-3 col-sm-12">
                <img src=@item.ImageLink class="img-responsive">
                <div class="blogimgname">@item.Title</div>
                <a href=@link>
                    <div class="blogimgoverlay">
                    </div>
                </a>
            </div>
        }
    }
</div>

