@model IEnumerable<BlogLab.Models.BlogPost>

@{
    ViewBag.Title = "Surf and Paddle Blog";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>*@

<h3 class="currentposttitle col-md-6 col-md-offset-1">@Model.First().Title</h3>
<h6 class="currentpostauthor col-md-6 col-md-offset-1">@Model.First().Author</h6>
<h6 class="currentpostdate col-md-6 col-md-offset-1">@Model.First().CreateDate</h6>
<img class="currentpostimg col-md-6 col-md-offset-1"src=@Model.First().ImageLink />
<div class="currentpostcontent col-md-6 col-md-offset-1">@Model.First().Body</div>




@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <th>
            <img src=@item.ImageLink/>
        </th>

    </tr>
}

</table>*@
